.foodList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.eachFood {
    border: solid darkred;
    padding: 5px;
    text-align: center;
    margin: 10px;
}